<!DOCTYPE html>
<html>
    <head>
        <title>
            <% message %>
        </title>
    </head>
    <body>
        <% if (message == "Password Not Match") { %>
            <h1>Passwords do not match</h1>
            <p>Please make sure you enter the same password in both fields.</p>
        <% } %>
        <% if (message == "Password Not Satisfied Rule") { %>
            <h1>Password Not Satisfied Rule</h1>
            <p>Your password did not satisfy the required rules. Please try again.</p>
        <% } %>
        <% if (message == "Password Incorrect") { %>
            <h1>Password Incorrect</h1>
            <p>The original password you entered is incorrect. Please try again.</p>
        <% } %>
        <% if (message == "Password Change Successful") { %>
            <h1>Password Change Successful</h1>
            <p>Your password has been successfully changed.</p>
        <% } %>
        <a href="/password">Back</a>
    </body>
</html>
