<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <h1>dashboard</h1>
    <h2>hello, <%= username %>
    <!-- show form of change password and post to /password_modification -->
    <!-- post username to server -->
    </h2>
    <a href="/logout">logout</a>
    <!-- form of change password -->
    <!-- post username and password to server -->
    <div class="password_modification">
        <form action="/password_modification" method="POST">
            <!-- a table form -->
            
            <!-- add a label for student id -->
            <label for="student_id">Student ID </label>
            <!-- add a textbox for student id -->
            <!-- not allow to schange id -->
            <input type="text" name="student_id" id="student_id" value="<%= username %>" readonly>
            <!-- <input type="text" name="student_id" id="student_id" value="" placeholder="Enter the Student ID"> -->
            <br>
            <label for="password">Password </label>
            <input type="password"  name="password" id="pw" value="" placeholder="Enter the Password">
            <br>
            <label for="password">New Password </label>
            <input type="password"  name="new_password" id="pw" value="" placeholder="Enter the New Password">
            <br>
            <label for="password">Confirm Password </label>
            <input type="password"  name="confirm_password" id="pw" value="" placeholder="Enter the Confirm Password">
            <br>
            <!-- add a button to submit form -->
            <!-- <button type="submit">change password</button> -->
            <button type="submit" onclick ='checkPassword'>change password</button>
        </form>
    </div>
    <script>

    </script>
  </body>
</html>
