<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
    <header></header>
      <% if (role =="student") {%>
        <%- include('stu_navbar') %>
      <% } else if (role =="teacher") {%>
        <%- include('teacher_navbar') %>
      <% } else if (role =="admin") {%>
        <%- include('admin_navbar') %>
      <% } %>
      </header>
  <body>

    <!-- show form of change password and post to /password_modification -->
    <!-- post username to server -->
    </h2>
    <!-- form of change password -->
    <!-- post username and password to server -->
    <div class="password_modification">
        <form action="/password_modification" method="POST">
          <table>
            <tr>
              <td><label for="student_id">Student ID</label></td>
              <td><input type="text" name="student_id" id="student_id" value="<%= username %>" readonly></td>
            </tr>
            <tr>
              <td><label for="password">Password</label></td>
              <td><input type="password" name="password" id="pw" value="" placeholder="Enter the Password"></td>
            </tr>
            <tr>
              <td><label for="password">New Password</label></td>
              <td><input type="password" name="new_password" id="pw" value="" placeholder="Enter the New Password"></td>
            </tr>
            <tr>
              <td><label for="password">Confirm Password</label></td>
              <td><input type="password" name="confirm_password" id="pw" value="" placeholder="Enter the Confirm Password"></td>
            </tr>
            <tr>
              <td></td>
              <td><button type="submit" onclick="checkPassword()">Change Password</button></td>
            </tr>
          </table>
        </form>
    </div>
    <script>

    </script>
  </body>
</html>
