<!-- FILEPATH: /Users/yiuheichang/Documents/GitHub/2023_350_project/password_org_wrong.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <title>Password Incorrect</title>
    </head>
    <body>
        <h1>Password Incorrect</h1>
        <p>The original password you entered is incorrect. Please try again.</p>
        <a href="/password">Back</a>
    </body>
</html>
