<!-- FILEPATH: /Users/yiuheichang/Documents/GitHub/2023_350_project/views/password_not_match.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <title>Password Not Match</title>
    </head>
    <body>
        <h1>Passwords do not match</h1>
        <p>Please make sure you enter the same password in both fields.</p>
        <a href="/password">Back</a>
    </body>
</html>
