<!-- Navigation Links -->
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">JU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/academic_record">Academic Record</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='/personal_information'>Personal Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Emergency Contact</a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="navbar-nav">
            <span class="nav-item ml-right">
                <a class="nav-link" href="/logout">Logout</a>
            </span>
        </ul>
    </div>
</nav>