<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Student Academic Record</title>
  </head>
<body>
    <header>
      <%- include('teacher_navbar') %>
    </header>
      <div class="container-fluid">
          <div class="d-flex flex-cloumn min-vh-100 justify-content-center align-items-center">
            <div class="card" style="width: 35rem;">
                <div class="card-header">Search Student Academic Record</div>
                <div class="card-body">
                    <div class="search">
                        <!--form for search by student id-->
                        <form class="row g-3 align-item-center" action="/search" method="POST">
                            <div class="col-auto">
                              <label class="col-form-label" for="name">Search By Student ID: </label>
                            </div>
                            <div class="col-auto">
                              <input type="text" class="form-control" name="studId" id="studId" value="" placeholder="Enter student ID">
                            </div>
                            <div class="col-auto">
                              <button type="submit" class="btn btn-primary" value="idSearch">search</button>
                            </div>   
                        </form>
                        <!--form for search by student name-->
                        <form class="row g-3 align-item-center" action="/search" method="POST">
                            <div class="col-auto">
                              <label for="password" class="col-form-label">Search By Student Name: </label>
                            </div>
                            <div class="col-auto">
                              <input type="password" class="form-control" name="studName" id="studName" value="" placeholder="Enter student name">
                            </div>
                            <div class="col-auto">
                              <button type="submit" class="btn btn-primary" value="nameSearch">search</button>
                            </div>               
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </body>
  <footer>
      <%- include('footer') %>
  </footer>