<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assessment</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <%- include('teacher_navbar') %>
    </header>
    <div><h4>Accessment</h4>
      <h5>Teaching Course</h5>
    </div>
        <!-- listgroup to show results -->
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">COMP101 </a>
          <a href="#" class="list-group-item list-group-item-action">COMP102 </a>
          <a href="#" class="list-group-item list-group-item-action">COMP203 </a>
          <a href="#" class="list-group-item list-group-item-action">COMP202 </a>
        </div>

</body>
<footer>
    <%- include('footer') %>
</footer>

</html>