<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Student Academic Record</title>
  </head>
<body>
    <header>
      <%- include('teacher_navbar') %>
    </header>
      <div class="container-fluid">
          <div class="d-flex flex-cloumn min-vh-100 justify-content-center align-items-center">
            <div class="card" style="width: 35rem;">
                <div class="card-header">Search Student Academic Record</div>
                <div class="card-body">
                    <div class="search">
                        <!--form for search by student id-->
                        <form name="idSearchForm" class="row g-3 align-item-center needs-validation" novalidate action="/search_stu_academic" method="POST">
                            <div class="col-auto">
                              <label for="id" class="col-form-label" >Search By Student ID: </label>
                            </div>
                            <div class="col-auto">
                              <input type="text" class="form-control" name="searchId" id="studId" value="" placeholder="Enter student ID" required>
                              <div class="invalid-feedback">Student id must not be empty</div>
                            </div>
                            <div class="col-auto">
                              <button type="submit" class="btn btn-primary" value="idSearch">search</button>
                            </div>   
                        </form>
                        <!--form for search by student name-->
                        <form name="nameSearchForm" class="row g-3 align-item-center needs-validation" novalidate action="/search_stu_academic" method="POST">
                            <div class="col-auto">
                              <label for="name" class="col-form-label">Search By Student Name: </label>
                            </div>
                            <div class="col-auto">
                              <input type="text" class="form-control" name="searchName" id="studName" value="" placeholder="Enter student name" required>
                              <div class="invalid-feedback">student name must not be empty</div>
                            </div>
                            <div class="col-auto">
                              <button type="submit" class="btn btn-primary" value="nameSearch">search</button>
                            </div>               
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </body>
  <footer>
      <%- include('footer') %>
  </footer>
  <script>
    (function () {
      'use strict'
    
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')
    
      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
    
            form.classList.add('was-validated')
          }, false)
        })
    })()
    </script>