/* table css with border*/
table {
    width: 100%;
    color: #588c7e;
    font-family: monospace;
    /* border */
    border: 1px solid #ddd;
    /* inner border */
    border-style: dotted;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  /* add input field to be transpant */
input[type=text] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
  }
  .container-fluid {
    padding: 3px;
  }
  .center{
    margin:auto;
    width:60%;
    padding:10px;
  }